.App {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: #70B0BA;
  min-height: 100vh;
}

html {
  background-color: #eaeaea;

}

.App h1, .App h2, .App h3, .App h4 {
  color: #609aa3;
}